/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$purple-palette),
      accent: mat.define-palette(mat.$green-palette),
      warn: $angular-warn,
    ),
  )
);
@include mat.all-component-themes($angular-default-theme);

.dark-theme {
  @include mat.all-component-colors($angular-dark-theme);
  background-color: #303030;
  .main-header__logo-img {
    margin-top: -41px;
  }
}
.light-theme .mat-toolbar{
  background: #F5E9CF;
}

@import url('./styles/_helpers.scss');
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');



body{margin:0;font-family:Roboto, "Helvetica Neue", sans-serif;}
img {
  width: 100%;
  height: auto;
}
.mat-form-field{width:100%;}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.title-center{margin:0 auto;}
.button-wrapper{margin-top:10px;}
.mat-mdc-card-title {
  color: #4D455D;
  font-weight: bold;
}
.mdc-button__label {
  color: #E96479;
}
