/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

$my-custom-typography-config: mat.define-typography-config(
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  // ...
);

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
    typography: $my-custom-typography-config,
  )
);
$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$purple-palette),
      accent: mat.define-palette(mat.$green-palette),
      warn: $angular-warn,
    ),
  )
);
@include mat.all-component-themes($angular-default-theme);

$headline: mat.define-typography-level(20px, 27px, 400,);


.dark-theme {
  @include mat.all-component-colors($angular-dark-theme);
  background-color: #303030;
  .main-header__logo-img {
    margin-top: -41px;
  }
}
.light-theme .mat-toolbar{
  background: #F5E9CF;
}


@import url('./styles/_helpers.scss');


@import url('./styles/reset.scss');
body{
  margin:0;

  font-size: 1.5rem;
  @media only screen and (min-width: 768px) {
    font-size: 1.7rem;
  }
}
img {
  width: 100%;
  height: auto;
}
.mat-form-field{width:100%;}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.title-center{margin:0 auto;}
.button-wrapper{margin-top:10px;}
.mat-mdc-card-title {
  font-weight: bold;
}
.mat-typography {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.5rem;
  @media only screen and (min-width: 768px) {
    font-size: 1.7rem;
  }
  .mat-headline-2 {
    margin-bottom: 3.2rem;
  }
[class*="headline"] , .mat-mdc-card-title {
      font-family: 'Boogaloo', sans-serif;
      font-family: 'Itim', sans-serif;
      color: #E96479;
      font-weight: bold;
    }
  }
